h1 {
    font-size: 3.5em;
}

a {
    color: #f0f0f0;
}

body {
    display: grid;
    place-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.note {
    background-color: #2c2f35;
    color: #f0f0f0;

    padding: 10px;
    min-width: 70%;
    border-radius: 8px;

    font-size: 1.2em;
}

.mdmode {
    text-align: center;
    margin-top: 1.2em;
}

#mdmode-status {
    color: #f0f0f0;
    background-color: #2c2f35;

    padding: 10px;
    border-radius: 8px;

    font-weight: 500;
}

#mdmode-status:hover {
    background-color: #565a63;
}